
<div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://vk.com/mikov2003" role="button">
            <img src="/images/vk.png" />
        </a>

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://t.me/Artem6115 role="button">
            <img src="/images/tg.png" />
        </a>

        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/artem6115/HomeAccounting" role="button">
            <img src="/images/git.png" />
        </a>


    </section>

    <section class="mb-4">
        <div class="row ">
            <div class="col-6 mx-auto ">
                <p>

                    Данный сервис предназначен для бесплатного пользования.
                    Записывайте полную информацию об операциях.
                    Изучайте полученую статистику. Редактируйте и экспортируйте данные.



                </p>
                Используйте Telegram-бота  -
                <button class="btn btn-info">AccountingBot</button>
            </div>
        </div>
    </section>

    <section class="mb-4">
    </section>

</div>
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright: Миков А.А.
</div>