<!DOCTYPE html>
<html lang="ru">
<head>
    <partial name="_metaPartial.cshtml" />
    <title>@ViewData["Title"]</title>
    <partial name="_linkPartial.cshtml" />
</head>
<body>
    <div class="row" >
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
            <div class="container">
                <a class="navbar-brand HeadText my-nav-brand"asp-action="Index" asp-controller="Home">HomeAccounting</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-label="Toggle navigation" aria-expanded="true" aria-controls="navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav ">
                        <li class="nav-item my-nav-item">
                            <a asp-controller="Transaction" asp-action="Get" class="nav-link my-nav-link">Бухгалтерия</a>
                        </li>
                        <li class="nav-item my-nav-item dropdown">
                            <a href="" class="nav-link my-nav-link  dropdown-toggle" data-bs-toggle="dropdown">Счета</a>
                            <ul class="dropdown-menu ">
                                <li class="link">
                                    <img src="/images/allcard.png" alt="" width="30" height="30" />
                                    <a asp-controller="Account" asp-action="Get" class="link">Мои счета</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="link">
                                    <img src="/images/addcard.png" alt="" width="30" height="30" />

                                    <a asp-controller="Account" asp-action="EditPage" class="link">Создать счет</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item my-nav-item">
                            <a asp-controller="Category" asp-action="Get" class="nav-link my-nav-link">Категории</a>
                        </li>
                        <li class="nav-item my-nav-item">
                            <a href="" class="nav-link my-nav-link">Баланс</a>
                        </li>
                        <li class="nav-item my-nav-item dropdown">
                            <a href="" class="nav-link my-nav-link  dropdown-toggle" data-bs-toggle="dropdown">О нас</a>
                            <ul class="dropdown-menu ">
                                <li class="link">
                                    <img src="/images/vk.png" class="" width="30" height="30" />
                                    <a href="https://vk.com/mikov2003" class="linkUsualText">Vcontacte</a>
                                </li>
                                <li class="link">
                                    <img src="/images/tg.png" class="" width="30" height="30" />
                                    <a href="https://t.me/Artem6115" class="linkUsualText">Telegram</a>
                                </li>
                                <li class="link">
                                    <img src="/images/git.png" class="" width="30" height="30" />
                                    <a href="https://github.com/artem6115/HomeAccounting" class="linkUsualText">GitHub</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item my-nav-item">
                            <a href="" class="nav-link my-nav-link">Настройки</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav ms-auto ">
                        <li class="nav-item my-nav-item ">
                            <a href="" class="nav-link my-nav-link  ">Миков Артём</a>
                        </li>
                        <li class="nav-item  ">
                            <a href=""><img src="/images/nologin.png" class="mt-1" width="35" height="35" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    @RenderBody()
</body>
<!-- Footer -->
<partial name="_scriptsPartial.cshtml" />
</html>