@{
    ViewData["Title"] = "Востоновление пароля";
    string error = TempData["error"]?.ToString();
    Layout = "/Areas/Identity/Pages/_layout.cshtml";

}
@model ResetPasswordModel
<div calss="row justify-content-center">
    <div class="col-md-4 position-absolute top-50 start-50 translate-middle LoginWindow">
        <form method="post" asp-controller="UserManager" asp-action="ResetPassword">
            <div class="row justify-content-center mt-3 mb-3">
                <div class="col-9">
                    <input class="form-control" asp-for="Email" hidden type="hidden" />
                    <h6 class="form-label">Введите код отправленый на почту</h6>
                    <input class="form-control" asp-for="Code" />
                    <span asp-validation-for="Code" class="error_text"></span>
                    <span class="error_text">@error</span>
                    <br />
                    <button type="submit" class="btn btn-success mt-2">Отправить/Запросить код</button>
                </div>
            </div>
        </form>
    </div>
</div>