@model List<AccountViewModel>
@{
    ViewData["Title"] = "Счета";
    string? message = TempData["Message"]?.ToString();
    string messageStyle = TempData["MessageStyle"]?.ToString()!;

}
@if(message is not null && message != "")
{

    <div class="alert @messageStyle mt-3 mb-3 text-center">@message</div>
}
<script>
    function deleteCommand (id){
        var url = "delete/"+id;
        if (confirm("Вы уверены, что хотите удалить счет?\nПосле удаления все транзакции будут потеряны")) {
            window.location.replace(url);
        }
    }
</script>
<div class="container">
    <div class="row  justify-content-center mt-5">
        @foreach (var item in Model)
        {     
            <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="row justify-content-center">
                <div class="col-5">
                    <img src="/images/account.png" width="100px" height="100px" class="mb-4" />
                </div>
            </div>
            <p class="AccountName">@item.Name</p>
                <p class="AccountBalance" style="display:inline;">
                    Баланс :
                    <span class="UsualText" style="font-weight:bold; display:inline;color:@(item.Balance[0]=='-'?"red":"green")">@item.Balance</span>
                </p>
            <div class="row justify-content-center mt-3">
                        <div class="row">
                            <a asp-controller="Account" asp-action="EditPage" asp-route-Id=@item.Id class="btn btn-success mb-1">Изменить название</a>
                        </div>
                        <div class="row">
                            <button class="btn btn-danger mb-1" onclick="deleteCommand(@item.Id)">Удалить</button>
                        </div>
                        <div class="row">
                            <a asp-controller="Inventory" asp-action="Get" asp-route-Id=@item.Id class="btn btn-info">Инвентаризации</a>
                        </div>
            </div>
        </div>
        }
        @if (Model.Count == 0)
        {
            <div class="col-2">
            <a class="btn btn-success p-2" asp-action="EditPage" asp-controller="Account">Создать счет</a>
            </div>
        }
    </div>
</div>
