@font-face {
    font-family: HeadText;
    src: url(/fonts/IMFellDoublePicaSC-Regular.ttf);
}

@font-face {
    font-family: ArtText;
    src: url(/fonts/Aubrey-Regular.ttf);
}

@font-face {
    font-family: UsualText;
    src: url(/fonts/Krub-Italic.ttf);
}

html {
    overflow-x: hidden;
    font-family: sans-serif;

}

.HeaderText {
    font-family: HeadText;
}

.ArtText {
    font-family: ArtText;
}

.UsualText {
    font-family: UsualText;
}

.link:hover {
    background-color: darkgray;
    color: black;
}

.link {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI';
    padding-left: 5px;
    font-weight: normal;
}
.linkUsualText {
    text-decoration: none;
    color: black;
    font-family: UsualText;
    padding-left: 5px;
    font-weight: normal;
}
.linkForEu {
    text-decoration: none;
    color: black;
    font-family: UsualText;
    padding-left: 5px;
    font-weight: normal;
}


th a {
    font-size: 15px;
    font-family: 'Segoe UI';
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

.my-nav-link {
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.my-nav-item:hover {
    background-color: rgb(42,47,54);
}

.td-edit {
    width: 60px;
}

.AccountName {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.AccountBalance {
    text-align: center;
}

label {
    margin-top: 0px;
}

form-control {
    width: 100px;
}
.validationError{
    color:red;
    font-size:15px;
}
.notifyInfo {
    width =600px;
    height =500px;
    position:absolute;
    padding:50px;25px;50px;25px;
    background-color: lawngreen;
    border-radius:10%;
    right:5%;
    bottom:5%;
    background-color:lightgreen;
    text-align:center;
    font-size:15px;
}
.ToolBar {
    z-index: 0;
    border-top: 2px solid blue;
    transition: all 600ms;
    -moz-transition: all 600ms;
    -webkit-transition: all 600ms;
}
.menuButton{
    position:absolute;
    top:250px;
    left:20px;
    width:50px;
    height:50px;
    z-index:1;
}
.menuFilterButton {
    position: absolute;
    top: 350px;
    left: 20px;
    width: 50px;
    height: 50px;
    z-index: 1;
}
.ActiveBar {
    z-index: 0;
    border-top: 2px solid blue;
    position: absolute;
    width: 100%;
    top: 0px;
    transform: translate(0,-200px);
    transition: all 600ms;
    -moz-transition: all 600ms;
    -webkit-transition: all 600ms;
}
.ActiveStatisticBar {
    z-index: 0;
    border-top: 2px solid blue;
    position: absolute;
    width: 100%;
    top: 0px;
    transform: translate(0,-250px);
    transition: all 600ms;
    -moz-transition: all 600ms;
    -webkit-transition: all 600ms;
}

.work-panel {
    border-width: 5px 0px 5px 5px;
    border-style: ridge;
    background-color:aliceblue;
    position: fixed;
    top: 35%;
    right: -1px;
}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */
}

[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    right: 50px;
    top: 50px; /* Положение подсказки */
    width:200px;
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
}

[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
}
.form-label{
    color:black;
}
.statisticForm .form-label {
    color: white;
}

.LoginWindow{
    border:4px outset blue;
    border-radius:5%;
    
}