@font-face {
    font-family: HeadText;
    src: url(/fonts/IMFellDoublePicaSC-Regular.ttf);
}

@font-face {
    font-family: ArtText;
    src: url(/fonts/Aubrey-Regular.ttf);
}

@font-face {
    font-family: UsualText;
    src: url(/fonts/Krub-Italic.ttf);
}

html {
    overflow-x: hidden;
    font-family: sans-serif;
}

.HeaderText {
    font-family: HeadText;
}

.ArtText {
    font-family: ArtText;
}

.UsualText {
    font-family: UsualText;
}

.link:hover {
    background-color: darkgray;
    color: black;
}

.link {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI';
    padding-left: 5px;
    font-weight: normal;
}
.linkUsualText {
    text-decoration: none;
    color: black;
    font-family: UsualText;
    padding-left: 5px;
    font-weight: normal;
}
.linkForEu {
    text-decoration: none;
    color: black;
    font-family: UsualText;
    padding-left: 5px;
    font-weight: normal;
}


th a {
    font-size: 15px;
    font-family: 'Segoe UI';
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

.my-nav-link {
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.my-nav-item:hover {
    background-color: rgb(42,47,54);
}

.td-edit {
    width: 60px;
}

.AccountName {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.AccountBalance {
    text-align: center;
}

label {
    margin-top: 25px;
}

form-control {
    width: 100px;
}
